# 前端配置
APPID=your_app_id
APP_NAME=腾讯会议
SERVER_URL=feishu-test.example.com
SERVER_PROTOCOL=http
API_PORT=9001
DEBUG_SWITCH=false
MODE=schedule
ONLY_USER_JOIN_TYPE=1
IS_SHOW_WATERMARK_SWITCH=false
ALLOW_SCREEN_SHARED_WATERMARK=true
WATER_MARK_TYPE=0
AUDIO_WATERMARK=true
ENABLE_FRONTEND_LOG=true
LOG_QUEUE_SIZE=100
LOG_FLUSH_INTERVAL=10000
ENABLE_LOG_WORKER=true
LOG_WORKER_MAX_RETRY_COUNT=3
LOG_WORKER_BATCH_SIZE=50
PROD_ENABLE_ERROR_ONLY=true
PROD_ENABLE_STACK_TRACE=false
PROD_LOG_LEVEL=error

# 后端配置
FEISHU_APP_ID=your_feishu_app_id
FEISHU_APP_SECRET=your_feishu_app_secret
FEISHU_APP_NAME=腾讯会议
FEISHU_HOME_URL=http://feishu-test.example.com:9000

# 腾讯会议配置
WEMEET_APPID=your_wemeet_appid
WEMEET_REST_API_SDKID=your_wemeet_rest_api_sdkid
WEMEET_REST_API_SECRETID=your_wemeet_rest_api_secretid
WEMEET_REST_API_SECRETKEY=your_wemeet_rest_api_secretkey
WEMEET_WEBHOOK_TOKEN=your_wemeet_webhook_token
WEMEET_WEBHOOK_AESKEY=your_wemeet_webhook_aeskey
WEMEET_SSOURL=your_wemeet_sso_url

# 数据库配置
DB_TYPE=mysql
DB_HOST=your_db_host
DB_PORT=3306
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name

# 日志配置
LOG_LEVEL=debug
